/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans';
}

nav {
	padding: 0.8rem;
	margin-top: 2rem;
	margin-bottom: 0;
	list-style-type: none;
	position:sticky;
	top: 0px;
	background-color: white;

	
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
	position:sticky;
	top: 10px;


}

.right-nav {
	float: right;
	margin-right: 4rem;
}


.tuitt-button {
	background-color: #c2195b;
	border: none;
	color: white;
	padding: 10px;
	border-radius: 20px;
}

.front-bg {
	background-size: 100%;
	min-height: 45vh;
	background-color: rgba(0, 0, 0, .5);
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	min-height: 45vh;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 4rem;
}


.container {
	float: right;
	font-family: 'Zilla Slab';
	color: white;
	width: 1000px;
	min-height: 45vh;
	margin-right: 5rem;
	text-align: right;

	

}

.title {
	font-size: 55px;
	margin-bottom: 15px;
	float: right;
	width: 1000px;

}

.subtitle {
	margin-bottom: 10px;
	width: 500px;
	text-align: right;
	margin-left: 500px;
}

.apply-button {
	display: block;
	background-color: #c2195b;
	border: none;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 40px;
	padding-left: 40px;
	border-radius: 20px;
	float: right;
	

	
}


.title-2 {
	text-align: center;
	margin-bottom: 4rem;
	font-size: 3rem;
	font-family: 'Zilla Slab';
}

.intro-description {
	width: 1000px;
	margin-left: 30rem;

}


.pre-footer {
	background-color: #f7fbfb;
	margin-top: 4rem;
	padding-top: 4rem;
	text-align: center;
	padding-bottom: 5rem;
}

.pre-footer description {
	text-align: center;
	

}

.prefooter-description {
	width: 1050px;
	margin-left: 26rem;


}

section .book-button {
	background-color: #336589;
	border: none;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 40px;
	padding-left: 40px;
	border-radius: 20px;
	margin-top: 1rem;

}

footer {
	text-align: center;
	margin-top: 2rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}